@model UbicacionEditorModel

<h2 class="page-header">
  Nueva Ubicacion
</h2>

<form method="POST">
  <div class="form-group">
    @Html.LabelFor(m => m.MunicipioId)
    
    @Html.EditorFor(m => m.MunicipioId)
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.Distrito)
    
    @Html.EditorFor(m => m.Distrito)
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.UnidadVecinal)
    
    @Html.EditorFor(m => m.UnidadVecinal)
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.Direccion)
    
    @Html.EditorFor(m => m.Direccion)
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.Coordenada)
    
    @Html.EditorFor(m => m.Coordenada)
  </div>
  
  <div class="text-right">
    <a href="@Url.Action("Index")" class="btn btn-link">Cancelar</a>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>