@model UbicacionIndexModel

@{
    ViewBag.Title = "Ubicaciones";
}

<style>
.table td {
  white-space: nowrap;
}
</style>

<h2 class="page-header">
  @ViewBag.Title
</h2>

<div class="panel panel-default with-table">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8">
        <a class="btn btn-primary btn-sm" href="@Url.Action("Create")">
          <span class="glyphicon glyphicon-file"></span>
          Nuevo
        </a>
      </div>
      <div class="col-md-4">
        
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Municipio</th>
        <th>Distrito</th>
        <th>Unidad Vecinal</th>
        <th>Direccion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    @foreach (var row in Model.Table.Rows)
    {
      <tr>
        <td>@row.Municipio</td>
        <td>@row.Distrito</td>
        <td>@row.UnidadVecinal</td>
        <td>@row.Direccion</td>
        
        <td style="white-space:nowrap">
          <a href="@Url.Action("Update", new { id = row.UbicacionId })" class="btn btn-xs btn-default">
            <span class="glyphicon glyphicon-pencil"></span>
            Modificar
          </a>
          
          <a href="@Url.Action("Delete", new { id = row.UbicacionId })" class="btn btn-xs btn-default">
            <span class="glyphicon glyphicon-remove"></span>
            Eliminar
          </a>
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>