@model Enum

@{
    var items = Html.GetEnumSelectList(Model.GetType());
}

<select name="@Html.Name("")" class="form-control">
  @foreach (var item in items)
  {
    <option value="@item.Value" selected="@(@item.Value == @Html.Value(""))">@item.Text</option>
  }
</select>
