@inject MingaDigital.App.Services.UserSessionService UserSession

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      @if (UserSession.IsLoggedIn)
      {
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      }
      <a class="navbar-brand" href="@Url.Action("Index", "Home")">Minga Digital</a>
    </div>
    
    @if (UserSession.IsLoggedIn)
    {
      var personUrl =
        Url.Action(
          "Detail",
          "PersonaFisica",
          new { id = UserSession.ActiveUser.PersonaFisica.PersonaFisicaId }
        );
      
      <div class="collapse navbar-collapse" id="main-navbar">
        <div class="navbar-right">
          Hola,
          <a href="@personUrl" class="navbar-link">
            @UserSession.ActiveUser.PersonaFisica.Nombre
          </a>
          <a href="@Url.Action("Logout", "Usuario")" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-log-out"></span>
            Salir
          </a>
        </div>
        
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              Establecimientos <span class="caret"></span>
            </a>
            
            <ul class="dropdown-menu" role="menu">
              <li><a href="@Url.Action("Index", "Telecentro")">Telecentros</a></li>
              <li><a href="@Url.Action("Index", "Almacen")">Almacenes</a></li>
              <li class="divider"></li>
              <li><a href="@Url.Action("Index", "Ubicacion")">Ubicaciones</a></li>
            </ul>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              Personas <span class="caret"></span>
            </a>
            
            <ul class="dropdown-menu" role="menu">
              <li><a href="@Url.Action("Index", "PersonaJuridica")">Personas Jurídicas</a></li>
              <li><a href="@Url.Action("Index", "PersonaFisica")">Personas Físicas</a></li>
              <li class="divider"></li>
              <li><a href="@Url.Action("Index", "Rol")">Roles</a></li>
            </ul>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              Actividades <span class="caret"></span>
            </a>
            
            <ul class="dropdown-menu" role="menu">
              <li><a href="@Url.Action("Index", "Actividad")">Actividades</a></li>
              <li class="divider"></li>
              <li><a href="@Url.Action("Index", "TipoActividad")">Tipos de Actividad</a></li>
            </ul>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              Incidencias <span class="caret"></span>
            </a>
            
            <ul class="dropdown-menu" role="menu">
              <li><a href="@Url.Action("Index", "Incidencia")">Incidencias</a></li>
              <li class="divider"></li>
              <li><a href="@Url.Action("Index", "TipoIncidencia")">Tipos de Incidencia</a></li>
            </ul>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              Configuración <span class="caret"></span>
            </a>
            
            <ul class="dropdown-menu" role="menu">
              <li><a href="@Url.Action("Index", "Rubro")">Rubros</a></li>
              <li><a href="@Url.Action("Index", "TipoEmpresa")">Tipos de Empresa</a></li>
            </ul>
          </li>
        </ul>
      </div>
    }
  </div>
</nav>