@using System.Diagnostics
@using System.Reflection
@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using System.Collections

@{
    var model = (Object)Model;
    var modelType = model.GetType();
    var modelDescription = modelType.GetCustomAttribute<DescriptionAttribute>()?.Description;
    
    var indexType = modelType.BaseType;
    
    Debug.Assert(indexType.GetGenericTypeDefinition() == typeof(BasicIndexModel<>));
    
    var rowType = indexType.GetGenericArguments()[0];
    
    var displayProps =
      from prop in rowType.GetProperties()
      let disp = prop.GetCustomAttribute<DisplayAttribute>()
      where disp != null
      select new { Name = disp.Name, Property = prop };
    
    var idProp = rowType.GetProperties().First(p => p.Name.EndsWith("Id"));
    
    ViewBag.Title = modelDescription;
}

<h2 class="page-header">
  @ViewBag.Title
</h2>

<div class="panel panel-default with-table">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8">
        <a class="btn btn-primary btn-sm" href="@Url.Action("Create")">
          <span class="glyphicon glyphicon-file"></span>
          Nuevo
        </a>
      </div>
      <div class="col-md-4">
        
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
      @foreach (var prop in displayProps)
      {
        <th>@prop.Name</th>
      }
        <th width="90%"><!-- spacer --></th>
        <th><!-- actions --></th>
      </tr>
    </thead>
    
    <tbody>
    @if (!Enumerable.Any(Model.Table.Rows))
    {
      <tr>
        <td colspan="@(displayProps.Count() + 2)">No hay registros.</td>
      </tr>
    }
    @foreach (var row in Model.Table.Rows)
    {
      var id = idProp.GetValue(row);
      
      <tr>
      @foreach (var prop in displayProps)
      {
        <td>@prop.Property.GetValue(row)</td>
      }
        
        <td><!-- spacer --></td>
        
        <td>
          <a href="@Url.Action("Update", new { id = id })" class="btn btn-xs btn-default">
            <span class="glyphicon glyphicon-pencil"></span>
            Modificar
          </a>
          
          <a href="@Url.Action("Delete", new { id = id })" class="btn btn-xs btn-default">
            <span class="glyphicon glyphicon-remove"></span>
            Eliminar
          </a>
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>