@model TipoActividadEditorModel

@{
  var actionName = ViewContext.RouteData.Values["action"] as String;
  
  if (actionName == "Create")
  {
      ViewBag.Title = "Crear Tipo de actividad";
  }
  else
  {
      ViewBag.Title = "Modificar " + Model.Descripcion;
  }
}

<h1>@ViewBag.Title</h1>

<form role="form" name="form" method="POST">
  @Html.ValidationSummary("", new { @class = "text-danger" })
  
  <div class="form-group">
    @Html.LabelFor(m => m.Descripcion, new { @class = "control-label" })
    
    @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
  </div>
  
  <div class="text-right">
    <a href="@Url.Action("Index")" class="btn btn-default">Cancelar</a>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
