@model PersonaFisicaIndexModel

@{
    ViewBag.Title = "Personas Fisicas";
}

<style>
.table td {
  white-space: nowrap;
}
</style>

<h2 class="page-header">
  @ViewBag.Title
</h2>

<div class="panel panel-default with-table">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8">
        <a class="btn btn-primary btn-sm" href="@Url.Action("Create")">
          <span class="glyphicon glyphicon-file"></span>
          Nuevo
        </a>
      </div>
      <div class="col-md-4">
        
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th width="90%"><!-- spacer --></th>
        <th><!-- actions --></th>
      </tr>
    </thead>
    
    <tbody>
    @if (!Model.Table.Rows.Any())
    {
      <tr>
        <td colspan="3">No hay registros.</td>
      </tr>
    }
    @foreach (var row in Model.Table.Rows)
    {
      <tr>
        <td>@row.Nombres @row.Apellidos</td>
        
        <td><!-- spacer --></td>
        
        <td>
          <a href="@Url.Action("Update", new { id = row.PersonaFisicaId })" class="btn btn-xs btn-warning">
            Modificar
          </a>
          
          <a href="@Url.Action("Delete", new { id = row.PersonaFisicaId })" class="btn btn-xs btn-danger">
            Eliminar
          </a>
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>